<launch>  
   <!-- Run Gazebo with turtlebot --> 
   <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>   

   <!-- Load existing map -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(find turtlebot_gazebo)/maps/playground.yaml" /> 

   <!-- Publish a static transformation between /odom and /map -->
  <node name="tf" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /map /odom 100" />

   <!-- Open rviz -->
   <include file="$(find turtlebot_rviz_launchers)/launch/view_robot.launch"/> 

   <!-- Run load_map node -->
   <node name="load_map" pkg="mapping" type="load_map" output="screen" cwd="node" /> 
</launch>

